html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -60px;
}
#footer {
  background-color: #f5f5f5;
  margin-top: -60px;
  height: 60px;
  clear: both;
}
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.container .credit {
  margin: 20px 0;
}
#wrap > .container {
  overflow:auto;
  padding-bottom: 60px;
  padding-top: 60px;
}
code {
  font-size: 80%;
}
.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.bar {
  fill: slategray;
}

.x.axis path {
  display: none;
}

#service_level {
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
  width: 14.75rem;
  overflow: hidden;
  margin: 0 auto 1.25rem;
  text-align: left;
}
